.Cabecalho{
  color:var(--cinza);
  background:var(--preto);
 
  padding: 0.25rem 0.5rem;
  color: var(--cinza);
  background: var(--preto);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.Cabecalho h1{
  font-size: 1.3rem;
}
.Cabecalho span{
  color:var(--rosa)
}